<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layouts/links') %>
    <title></title>
  </head>
  <body>
    <div class="container-main"><%- include('./layouts/navbar') %></div>
    <div class="container"><%- include('./layouts/intro-section') %></div>
    <div class="container"><%- include ('./layouts/explore-section') %></div>
    <div class="container"><%- include('./layouts/project-section') %></div>
    <div><%- include('./layouts/footer-section') %></div>
  </body>
</html>
